name: Scuda CI

on:
  pull_request:
    branches: [main]

jobs:
  tailscale_job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: k4oU8AFYf121CNTRL
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci,tag:production
      
      - name: Verify Tailscale IP
        run: tailscale ip

      - name: Run tests
        run: |
          ssh -o StrictHostKeyChecking=no -i ~/.ssh/id_rsa root@100.118.7.128 'bash -s' <<'EOF'
          #!/bin/bash

          cd /home/brodey/scuda-latest
          ls

          SCUDA_PORT=14834 ./local.sh server &

          sleep 5

          export SCUDA_SERVER=0.0.0.0:14834
          test_output=$(./local.sh test)
          test_exit_code=$?

          if [ $test_exit_code -eq 0 ]; then
            echo "tests passed successfully!"
          else
            echo "tests failed... Output:"
            echo "$test_output"
          fi

          kill $(ps aux | grep '[s]cuda' | awk '{print $2}')
          echo "server process and its children terminated. exiting..."

          exit $test_exit_code

          EOF
